:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 4000px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/bg.jpg);
  background-size: cover;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
  /* background-color: var(--bg); */
}

.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: var(--pink);
  background-color: white;
}

.hero a:hover {
  color: var(--bg);
  background-color: var(--pink);
  color: white; /* For browsers that do not support gradients */
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas{
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  color: var(--pink);
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}

.home {
    background-image: url(img/floral.png);
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.home h2, .info h2 {
    font-family: "Sacramento", cursive;
    font-size: 3rem;
    color: var(--pink);
    font-weight: bold;
    /* text-align: center; */
    /* margin-bottom: 2rem; */
}

.home h3 {
    /* font-family: "Sacramento", cursive; */
    color: #444
    font-size: 1.5rem;
    /* color: var(--pink); */
    /* font-weight: bold; */
    /* text-align: center; */
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.2rem;
    color: #555;
}

.home .couple {
  margin-top: 40px;
}

.home .couple h3 {
  font-family: "Sacramento";
  font-size: 2.4rem;
  color: var(--pink);
}

.home .couple img {
  width: 100%;
  margin-top: 20px;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(80px);
}

.home .heart i {
  margin: auto;
  color: var(--pink);
}

.info {
  background-color: var(--bg);
  color: white;
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: white !important;
  border: 1px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
} 

.info .card-body {
  font-size: 1rem;
  /* border-bottom: 1px solid #999; */
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.8rem;
  font-weight: 300;
}

/* media query */
/* 4k */
@media (max-width: 2697px) {
  html {
    font-size: 100%;
  }
  .img1 {
    /* display: none; */
    width: 30%;
    margin: 0px 0px 10px;
  }
  .simply-countdown > .simply-section {
    width: 100px;
    height: 60px;
    padding: 30px;
    margin: 5px;
    background-color: var(--bg);
  }
}

/* desktop */
@media (max-width: 1440px) {
  html {
    font-size: 100%;
  }
  .img1 {
    /* display: none; */
    width: 30%;
    margin: 0px 0px 10px;
  }
  .simply-countdown > .simply-section {
    width: 100px;
    height: 60px;
    padding: 30px;
    margin: 5px;
    background-color: var(--bg);
  }
}

/* xl */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(60px);
  }
}

/* lepi */
@media (max-width: 992px) {
  .hero h1 {
    font-size: 5.5rem;
    margin-bottom: 20px;
  }
  .hero h4 {
    font-size: 1.8rem;
    /* margin-bottom: 20px; */
  }
  .hero a {
    font-size: 1.8rem;
    /* margin-top: 20px; */
  }
  .hero a:hover {
    font-size: 1.8rem;
  }

  .img1 {
    width: 50%;
    margin-top: 10px;
  }
  .simply-countdown > .simply-section {
    width: 90px;
    height: 90px;
    padding: 30px;
    margin: 5px;
    background-color: var(--bg);
  }
  .home .heart {
  display: none;
  }
}

/* tablet */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 5rem;
  }
  .hero h4 {
    font-size: 1.8rem;
  }
  .hero a {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  .hero a:hover {
    font-size: 1.5rem;
  }

  .img1 {
    width: 50%;
    margin-top: 10px;
  }
  .simply-countdown > .simply-section {
    width: 90px;
    height: 50px;
    padding: 30px;
    margin: 5px;
    background-color: var(--bg);
  }
  .mynavbar .nav-link {
    /* text-transform: uppercase; */
    font-size: 2rem;
    text-align: center;
  }
}

/* mobile */
@media (max-width: 581px) {
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .hero h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .hero a {
    font-size: 1.1rem;
    margin-top: 20px;
  }
  .hero a:hover {
    font-size: 1.1rem;
  }

  .img1 {
    /* display: none; */
    width: 70%;
    margin-top: 10px;
  }
  .simply-countdown > .simply-section {
    width: 60px;
    height: 20px;
    padding: 30px;
    margin: 4px;
    background-color: var(--bg);
  }
}

/* mobile s */
@media (max-width: 360px) {
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .hero h4 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .hero a {
    font-size: 0.8rem;
    margin-top: 10px;
  }
  .hero a:hover {
    font-size: 0.8rem;
  }

  .img1 {
    width: 70%;
    margin-top: 10px;
  }
  .simply-countdown > .simply-section {
    width: 10px;
    height: 10px;
    padding: 25px;
    margin: 5px;
    font-size: 1rem;
    background-color: var(--bg);
  }
}
